.backGroundFont {
  background: #fdfcfa;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.login {
  background-color: #ff4f4f;
  width: 102px;
  height: 47px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}


.dropdown hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
    color: red;
}

.Header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: white;
  box-shadow: 0 -2px 10px 0 #999;
  z-index: 2;
}

  .video {
    position: relative;
    /*height: 810px;*/
    width: 100%;
    height: 110vh;
    overflow: hidden;
  }

/*
  iframe {
    width: 1800px;
    height: auto;

  }*/



 .TopBarWords {
   font-size: 40px;
   color: white;
   /*font-style: bold;*/

 }

 .input {
   height: 30px;
   width: 800px;
   background-color: transparent;
   border: none;
   outline: none;
   margin-left: 10px;
 }



.searchbtn {
  display: none;
}

  .psHolder {
    height: 71px;
    width: 100%;

  }




.TopBar {
  /*border: 2px solid red;*/
  height: 100px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background: #F7F6F4;
  color: green;
  font-size: 20px;
}

.TopCenter {
  margin-left: 11%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c1afa3;
  font-size: 18px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c1afa3;
  font-size: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c1afa3;
  font-size: 18px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c1afa3;
  font-size: 18px;
}

.innerHeader {
  width: 600px;
  display: flex;
}

.top_nav {
  justify-content: space-between;
  display: flex;
  width: 170px;
  /*border: 2px solid red;*/
  align-items: center;
}

.top_nav i {
  color: green;
  font-size: 20px;
}

.logo img{
position: relative;
top: 20px;
left:-10px;
width: 130px;
height: 130px;
-ms-transform: rotate(-15deg); /* IE 9 */
-webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
transform: rotate(-15deg);

}

.logoNav {
  display: flex;
  list-style-type: none;
  position: relative;
  top: 57px;
  height: 100%;
  font-size: 16px;
}

.navLine {
  /*border: 2px solid red;*/
  padding: 28px;
  position: relative;
  top: -27px;
}

.downarrow  {
  margin-left: 10px;
}

.body_inner {
  height: 386px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*border: 2px solid green;*/
}

.country {
  /*border: 2px solid black;*/
  width: 180px;
  height: 270px;
}

.worldwraper {
  /*border: 2px solid red;*/
  display: flex;
  width: 77%;
  justify-content: space-between;
}

.countrypic {
  /*border: 2px solid red;*/
  width: 172px;
  height: 172px;
  margin-left: 2px;
  border-radius: 50%;
  overflow: hidden;
}

.countrypic img {
  width: 100%;
  height: 100%;
}

.countryName {
  width: 100%;
  /*border: 1px solid blue;*/
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.BottomNav {
  height: 90px;
  width: 100%;
  /*border: 2px solid red;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.menu {
  height: 100px;
  width: 90%;
  /*border: 2px solid pink;*/
  display: flex;
  justify-content: space-between;

}

.menuNav {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}


.footer {
  height: 50px;
  width: 75%;
  border: 2px solid teal;
  display: flex;
  color: darkgray;

}

.TopNav {
  margin-right: 15px;
  position: relative;
  display: flex;
}


.dropdownMenu {
  /*border: 2px solid teal;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255,79,79, 30);
  color: white;
  position: absolute;
  top: 42px;
  min-width: 400px;
  height: 440px;
  right: 0px;
  display: flex;

}

.dropdown li {
  list-style-type: none;
  width: 200px;
  height: 25px;
  text-align: center;
  margin-top: 20px;
}

.recipeDrop {
position: absolute;
background-color: white;
top: 71px;
width: 218px;
border: solid 1px #eceeef;
box-shadow: 0 6px 12px rgba(0,0,0,0.175);
display: none;
}

.recipeDrop li {
cursor: pointer;
font-weight: 400;
padding: 15px 0;
padding-left: 30px;
border-bottom: solid 1px #eceeef;
color: #343434;
text-decoration: none;
}

.recipe {
  position: relative;
  top: -29px;
}

.recipeNav {
  top: 3px;
}


.recipe:hover .recipeDrop {
    display: block;
}

ul li:hover
{
  color: #FF4F4F;
  cursor: pointer;
  font-weight: 600;
  background-color: rgba(255, 125, 106, 0.2);
}


.options {
  /*border: 2px solid gray;*/
  margin-left: 20px;
  margin-right: 20px;
  height:400px;
  width: 250px;
}

.optionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  margin-top: 20px;
}

.body_title {
  margin-top: 30px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  width: 77%;
  /*border: 2px solid blue;*/
  /*margin-left: 55px;*/
  /*text-align: center;*/
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
}

.img {
  width: 274px;
  height: 164px;
  /* border-radius: 100%; */
  margin: 0 auto;
  margin-top: 25px;
  overflow: hidden;

}

.img img {
    max-width: 274px;
}

.title {
  text-align: center;
  margin-top: 20px;
  color: black;
}


.search_Result_container {
  display: flex;
  flex-wrap: wrap;
  /*border: 2px solid green;*/
  width: 100%;
  justify-content: center;
}


.column {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 18%;
  /*border: 2px solid red;*/
  margin-right: 10px;
  margin-bottom: 10px;
}

.foodPic {
  /*border: 2px solid brown;*/
  width: 100%;
  height: 300px;
  margin-top: 10px;
  /*margin-right: 10px;*/
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.foodPic img {
  width: 100%;
  height: 200px;
}

.innerBoxCard {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
  background-color: white;
  height: 256px;
  width: fit-content;
}

.bottomLogo {
  width: 80px;
  height: 80px;

}

.aboutUs {
  display: flex;
}

.red {
  color: red;
  margin-right: 20px;
}

.bottom_Text {
  margin-right: 20px;
  color: darkgray;
}

.foodies {
  color: lightgray;
  font-style: italic;
  font-size: 14px;
  margin-left: 35vw;
}

.bottomFlex {
  display: flex;
  margin-bottom: 20px;
}

.foodTitle{
  text-align: center;
}

.publisher {
  text-align: center;
  color:gray;
  font-size: 13px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}


.publisherTitle {
  color: darkgray;
  margin-top: 10px;
}

/*kitchenware-------------*/
.sectionBox {
  /*border: 2px solid red;*/
  width: 100%;
  height: 500px;
  display: flex;
  margin-bottom: 85px;
}

.leftbox {
  /*border: 2px solid green;*/
  width: 47%;
  height: 100%;
  position: relative;
}

.rightbox {
  /*border: 2px solid blue;*/
  width: 53%;
  height: 100%;
}

.rightbox img {
  width: 100%;
  height: 100%;
}

.leftmiddleBox {
  /*border: 2px solid orange;*/
  width: 425px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 70%;
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 10px;
}

.leftmiddleBox span {
  color: white;
}

.insertLine {
  width: 450px;
  background-color: black;
  height: 3px;
  margin-top: 60px;
  position: absolute;
  right: 0px;
}

.textBox {
  /*border: 2px solid orange;*/
  margin-top: 80px;
}

.textTitle {
  font-weight: bold;
  padding-top: 50px;
  letter-spacing: 10px;
  font-size: 35px;
  margin-left: 50px;
}

.textBody {
  width: 350px;
  /*border: 2px solid blue;*/
  height: 100px;
  line-height: 1.4;
  margin-top: 20px;
  margin-left: 50px;
}

.viewall {
  margin-top: 30px;
  margin-left: 50px;
  font-weight: bold;
  font-size: 18px;
  color: green;
}

.leftAltBox {
  width: 90%;
}

.altLine {
  left: 0px;
  top: 70%;
  width: 550px;
}

.tbAltBox {
  position: absolute;
  right: 50px;
}

.pot {
  margin-left: 8%;
  width: 450px;
}

.potText {
  width: calc(100% - 450px);
}

.potTextContent {
  margin-left: 25%;
}

/* PRODUCTS PAGE________________ */

.productsBanner {
  /*border: 2px solid orange;*/
  width: 100%;
  height: 44vw;
}

.productsBanner img {
  width: 100%;
  height: 100%;
}

.bannerTitle {
  position: absolute;
  top: 20vw;
  left: 8vw;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.productStore {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding-bottom: 50px;
    height: auto;
}

.storeFrame {
  /*border: 2px solid green;*/
  width:85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.storeMenu {
  display: flex;
  width: 100%;
  justify-content: center;
  background: white;
}

.storeMenu div {
  /*border: 1px solid red;*/
padding: 20px;
color: #b2aca4;
letter-spacing: 4px;
}

.singleProduct {
  width: calc(100% / 3);
  height: 18vw;
  /*border: 1px solid black;*/
  display: flex;
}

.producPic {
  /*border: 1px solid orange;*/
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.producPic img {
  width: 80%;
  height: 80%;
}

.productInfo {
  /*border: 1px solid red;*/
  margin: 0 auto;
  margin-top: 25%;
  text-align: center;
}

.price {
    letter-spacing: 6px;
    margin-bottom: 20px;
    font-size: 13px;
}

.price span{
  font-weight: bold;
  font-size: 20px;
}

._atc {
  font-size: 13px;
  letter-spacing: 2px;
  color: red;
}
